#autumn
{

    margin-top: 1.5%;
    margin-left: 85%;
    top: 0;
    position: absolute;

}
#autumn2
{

    margin-top: 3.5%;
    margin-left: 90%;
    top: 0;
    position: absolute;

}

#paragraph1
{

    margin-top: -20%;
    margin-left: 40%;
    position: center;
    
}
#paragraph2
{

    margin-top: 0.5%;
    margin-left: 0%;
    position: left;

}
#calender
{

    margin-top: 12%;
    margin-left: 65%;
    top: 0;
    position: absolute;

}

#harmony
{

    margin-top: -26%;
    margin-left: 65%;
    position: absolute;

}

#sundays
{

    margin-top: -21%;
    margin-left: 65%;
    position: absolute;

}

#merce
{

    margin-top: -16%;
    margin-left: 65%;
    position: absolute;

}

#juilliard
{

    margin-top: -12%;
    margin-left: 65%;
    position: absolute;

} 
